<div class="container">
<div class="header">
  <mat-toolbar style="padding: 1em; height: 100px !important;">
    <img id="logo" src="./assets/images/hitech.png" height="70px" width="auto" alt="Hi Tech Innovation">
    <span class="fill-middle"></span>

    <button mat-button href="tel:+254713925275"> +254713925275 </button>
    <button id="hiddenPhone" mat-button href="tel:+254751311979"> +254751311979 </button>
  </mat-toolbar>

      <mat-toolbar color="primary" id="categoryholder">
        <div class="mainnav">
          <!-- Residential Menu -->
          <mat-menu #resmenu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="kitchenMenu1"> Kitchen </button>
            <button mat-menu-item [matMenuTriggerFor]="laundryMenu1"> Laundry </button>
          </mat-menu>
          <mat-menu #kitchenMenu1="matMenu">
            <button mat-menu-item (click)='schedule(1, "kitchen","Outdoor kitchen Repair")'>Outdoor Kitchen Repair</button>
            <button mat-menu-item (click)='schedule(1, "kitchen","Microwave Repair")'>Microwave Repair</button>
            <button mat-menu-item (click)='schedule(1, "kitchen","Oven Repairs")'>Oven Repair</button>
            <button mat-menu-item (click)='schedule(1, "kitchen","Refrigerator Repairs")'>Refrigerator Repair</button>
            <button mat-menu-item (click)='schedule(1, "kitchen","Wine Cooler Repairs")'>Wine Cooler Repairs</button>
          </mat-menu>
          <mat-menu #laundryMenu1="matMenu">
            <button mat-menu-item (click)='schedule(1, "laundry","Dryer Repair")'>Dryer Repair</button>
            <button mat-menu-item (click)='schedule(1, "laundry","pure Wash")'>Pure Wash</button>
            <button mat-menu-item (click)='schedule(1, "laundry","Dryer Vent Cleaning")'>Dryer Vent Cleaning</button>
            <button mat-menu-item (click)='schedule(1, "laundry","Washing Machine")'>Washing Machine</button>
          </mat-menu>
          <li class="main-content" id="residential" [matMenuTriggerFor]="resmenu">
             Residential Appliances
    
              <div class="pullup" id="innerresidential">
                  <div class="content-wrapper">
                      <ul id="resnav">
                        <li class="tab" data-panel="one">
                            <div class="text-center">
                              <img height="40px" width="40px" src="./assets/images/kitchen.png" alt="">
                            </div>
                           Kitchen </li>
                        <li class="tab" data-panel="two">
                            <div class="text-center">
                              <img height="40px" width="40px" src="./assets/images/laundry.png" alt="">
                            </div>
                          Laundry</li>
                      </ul>
      
                      <div class="panels">
                        <div class="panel active-panel" id="one">
    
                          <div class="list-group">
                             <button type="button" (click)='schedule(1, "kitchen","Outdoor kitchen Repair")' class="list-group-item list-group-item-action">Outdoor Kitchen Repair</button>
                             <button type="button" (click)='schedule(1, "kitchen","Microwave Repair")' class="list-group-item list-group-item-action">Microwave Repair</button>
                             <button type="button" (click)='schedule(1, "kitchen","Oven Repairs")'   class="list-group-item list-group-item-action">Oven Repairs</button>
                             <button type="button" (click)='schedule(1, "kitchen","Refrigerator Repairs")'   class="list-group-item list-group-item-action">Refrigerator Repairs</button>
                             <button type="button" (click)='schedule(1, "kitchen","Wine Cooler Repairs")'   class="list-group-item list-group-item-action">Wine Cooler Repair</button>
                          </div>
    
                        </div>
                        <div class="panel" id="two">
                          
                          <div class="list-group">
                             <button type="button"   class="list-group-item list-group-item-action" (click)='schedule(1, "laundry","Dryer Repair")'>Dryer Repair</button>
                             <button type="button"   class="list-group-item list-group-item-action" (click)='schedule(1, "laundry","pure Wash")'>pure Wash</button>
                             <button type="button"   class="list-group-item list-group-item-action" (click)='schedule(1, "laundry","Dryer Vent Cleaning")'>Dryer Vent Cleaning</button>
                             <button type="button"   class="list-group-item list-group-item-action" (click)='schedule(1, "laundry","Washing Machine")'>Washing Machine</button>
                          </div>
    
                        </div>
                      </div>
                  </div>
              </div>
    
          </li>

          <!-- Commercial Menu -->
          <mat-menu #commmenu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="kitchenMenu2"> Kitchen </button>
            <button mat-menu-item [matMenuTriggerFor]="laundryMenu2"> Laundry </button>
          </mat-menu>
          <mat-menu #kitchenMenu2="matMenu">
            <button mat-menu-item (click)='schedule(2, "kitchen","Wine Cooler Repair")'>Wine Cooler Repair</button>
            <button mat-menu-item (click)='schedule(2, "kitchen","Pizza Tables")'>Pizza Tables</button>
            <button mat-menu-item (click)='schedule(2, "kitchen","Microwave Repair")'>Microwave Repair</button>
            <button mat-menu-item (click)='schedule(2, "kitchen","Walk-in Freezer")'>Walk-in Freezer</button>
            <button mat-menu-item (click)='schedule(2, "kitchen","Deep Fryers")'>Deep Fryers</button>
          </mat-menu>
          <mat-menu #laundryMenu2="matMenu">
            <button mat-menu-item (click)='schedule(2, "laundry","Dryer Repair")'>Dryer Repair</button>
            <button mat-menu-item (click)='schedule(2, "laundry","Dryer Vent Cleaning")'>Dryer Vent Cleaning</button>
            <button mat-menu-item (click)='schedule(2, "laundry","Washing Machine")'>Washing Machine</button>
          </mat-menu>
    
          <li class="main-content" id="commercial" [matMenuTriggerFor]="commmenu"> Commercial Appliances 
    
    
              <div class="pullup" id="innercommercial">
                  <div class="content-wrapper">
                      <ul id="resnav">
                        <li class="tab" data-panel="cone"> 
                            <div class="text-center">
                              <img height="40px" width="40px" src="./assets/images/kitchen.png" alt="">
                            </div>
                          Kitchen </li>
                        <li class="tab" data-panel="ctwo">
                            <div class="text-center">
                              <img height="40px" width="40px" src="./assets/images/kitchen.png" alt="">
                            </div> 
                          Laundry</li>
                      </ul>
      
                      <div class="panels">
                        <div class="panel active-panel" id="cone">
    
    
                          <div class="list-group">
                               <button type="button"   class="list-group-item list-group-item-action" (click)='schedule(2, "kitchen","Wine Cooler Repair")'>Wine Cooler Repair</button>
                               <button type="button"   class="list-group-item list-group-item-action" (click)='schedule(2, "kitchen","Pizza Tables")'>Pizza Tables</button>
                               <button type="button"   class="list-group-item list-group-item-action" (click)='schedule(2, "kitchen","Microwave Repair")'>Microwave Repair</button>
                               <button type="button"   class="list-group-item list-group-item-action" (click)='schedule(2, "kitchen","Walk-in Freezer")'>Walk-in Freezer</button>
                               <button type="button"   class="list-group-item list-group-item-action" (click)='schedule(2, "kitchen","Deep Fryers")'>Deep Fryers</button>
                          </div>
    
    
                        </div>
                        <div class="panel" id="ctwo">
    
                          <div class="list-group">
                             <button type="button"   class="list-group-item list-group-item-action" (click)='schedule(2, "laundry","Dryer Repair")'>Dryer Repair</button>
                             <button type="button"   class="list-group-item list-group-item-action" (click)='schedule(2, "laundry","Dryer Vent Cleaning")'>Dryer Vent Cleaning</button>
                             <button type="button"   class="list-group-item list-group-item-action" (click)='schedule(2, "laundry","Washing Machine")'>Washing Machine</button>
                          </div>
    
                        </div>
                      </div>
                  </div>
              </div>
    
    
          </li>

          <!-- House repair menu -->
          <mat-menu #houmenu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="plumb"> Plumbing & Painting </button>
            <button mat-menu-item [matMenuTriggerFor]="mason"> Masonry & Carpentry </button>
          </mat-menu>
          <mat-menu #plumb="matMenu">
            <button mat-menu-item (click)='schedule(3, "plumbing and painting","Pipe Supply and Heating")'>Pipe Supply and Heating</button>
            <button mat-menu-item (click)='schedule(3, "plumbing and painting","Declogging and Drainage")'>Declogging and Drainage</button>
            <button mat-menu-item (click)='schedule(3, "plumbing and painting","Equipment and Fitting")'>Equipment and Fitting</button>
            <button mat-menu-item (click)='schedule(3, "plumbing and painting","Outdoor Painting")'>Outdoor Painting</button>
            <button mat-menu-item (click)='schedule(3, "plumbing and painting","Indoor Painting")'>Indoor Painting</button>
          </mat-menu>
          <mat-menu #mason="matMenu">
            <button mat-menu-item (click)='schedule(3, "masonry and carpentry","IKEA")'>IKEA</button>
            <button mat-menu-item (click)='schedule(3, "masonry and carpentry","Furniture")'>Furniture</button>
            <button mat-menu-item (click)='schedule(3, "masonry and carpentry","Fittings")'>Fittings</button>
            <button mat-menu-item (click)='schedule(3, "masonry and carpentry","Bricks")'>Bricks</button>
            <button mat-menu-item (click)='schedule(3, "masonry and carpentry","Plastering")'>Plastering</button>
          </mat-menu>
    
          <li class="main-content" id="house" [matMenuTriggerFor]="houmenu"> House Repairs
    
    
              <div class="pullup" id="innerhouse">
                  <div class="content-wrapper">
                      <ul id="resnav">
                        <li class="tab" data-panel="hone">
                          <div class="text-center">
                            <img height="40px" width="40px" src="./assets/images/plumbing.png" alt="">
                          </div>
                          Plumbing & Painting </li>
                        <li class="tab" data-panel="htwo">
                            <div class="text-center">
                              <img height="40px" width="40px" src="./assets/images/mason.png" alt="">
                            </div>
                          Masonry & Carpentry</li>
                      </ul>
      
                      <div class="panels">
                        <div class="panel active-panel" id="hone">
    
                          <div class="list-group">
                             <button type="button" class="list-group-item list-group-item-active" (click)='schedule(3, "plumbing and painting","Pipe Supply and Heating")'>Pipe Supply and Heating</button>
                             <button type="button" class="list-group-item list-group-item-active" (click)='schedule(3, "plumbing and painting","Declogging and Drainage")'>Declogging and Drainage</button>
                             <button type="button" class="list-group-item list-group-item-active" (click)='schedule(3, "plumbing and painting","Equipment and Fitting")'>Equipment and Fitting</button>
                             <button type="button" class="list-group-item list-group-item-active" (click)='schedule(3, "plumbing and painting","Outdoor Painting")'>Outdoor Painting</button>
                             <button type="button" class="list-group-item list-group-item-active" (click)='schedule(3, "plumbing and painting","Indoor Painting")'>Indoor Painting</button>
                          </div>
    
                        </div>
                        <div class="panel" id="htwo">
    
                          <div class="list-group">
                             <button type="button"   class="list-group-item list-group-item-active" (click)='schedule(3, "masonry and carpentry","IKEA")'>IKEA</button>
                             <button type="button"   class="list-group-item list-group-item-active" (click)='schedule(3, "masonry and carpentry","Furniture")'>Furniture</button>
                             <button type="button"   class="list-group-item list-group-item-active" (click)='schedule(3, "masonry and carpentry","Fittings")'>Fittings</button>
                             <button type="button"   class="list-group-item list-group-item-active" (click)='schedule(3, "masonry and carpentry","Bricks")'>Bricks</button>
                             <button type="button"   class="list-group-item list-group-item-active" (click)='schedule(3, "masonry and carpentry","Plastering")'>Plastering</button>
                          </div>
    
                        </div>
                      </div>
                  </div>
              </div>
    
    
          </li>
    

          <!-- Office Menu -->
          <mat-menu #offmenu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="elec"> Electrical</button>
            <button mat-menu-item [matMenuTriggerFor]="hvac"> HVAC </button>
          </mat-menu>
          <mat-menu #elec="matMenu">
            <button mat-menu-item (click)='schedule(4, "electrical appliances","Electronic Connections")'>Electronic Connections</button>
            <button mat-menu-item (click)='schedule(4, "electrical appliances","Generator Repair")'>Generator Repair</button>
            <button mat-menu-item (click)='schedule(4, "electrical appliances","Lighting Repair")'>Lighting Repair</button>
            <button mat-menu-item (click)='schedule(4, "electrical appliances","Dishwasher")'>Dishwasher</button>
            <button mat-menu-item (click)='schedule(4, "electrical appliances","Oven Repair")'>Oven Repair</button>
          </mat-menu>
          <mat-menu #hvac="matMenu">
            <button mat-menu-item (click)='schedule(4, "HVAC","Coolers Repair")'>Coolers Repair</button>
            <button mat-menu-item (click)='schedule(4, "HVAC","AC Repair")'>AC Repair</button>
            <button mat-menu-item (click)='schedule(4, "HVAC","Coldroom Maintenance")'>Coldroom Maintenance</button>
            <button mat-menu-item (click)='schedule(4, "HVAC","Freezers")'>Freezers</button>
          </mat-menu>

          <li class="main-content" id="office" [matMenuTriggerFor]="offmenu"> Office Repairs
    
    
              <div class="pullup" id="inneroffice">
                  <div class="content-wrapper">
                      <ul id="resnav">
                        <li class="tab" data-panel="oone">
                            <div class="text-center">
                                <img height="40px" width="40px" src="./assets/images/electrical.png" alt="">
                              </div>
                              Electrical Appliances</li>
                        <li class="tab" data-panel="otwo">
                            <div class="text-center">
                                <img height="40px" width="40px" src="./assets/images/hvac.png" alt="">
                              </div>
                          HVAC</li>
                      </ul>
      
                      <div class="panels">
                        <div class="panel active-panel" id="oone">
    
                          <div class="list-group">
                             <button type="button"   class="list-group-item list-group-item-active" (click)='schedule(4, "electrical appliances","Electronic Connections")'>Electronic Connections</button>
                             <button type="button"   class="list-group-item list-group-item-active" (click)='schedule(4, "electrical appliances","Generator Repair")'>Generator Repair</button>
                             <button type="button"   class="list-group-item list-group-item-active" (click)='schedule(4, "electrical appliances","Lighting Repair")'>Lighting Repair</button>
                             <button type="button"   class="list-group-item list-group-item-active" (click)='schedule(4, "electrical appliances","Dishwasher")'>Dishwasher</button>
                             <button type="button"   class="list-group-item list-group-item-active" (click)='schedule(4, "electrical appliances","Oven Repair")'>Oven Repair</button>
                          </div>
    
                        </div>
                        <div class="panel" id="otwo">
    
                          <div class="list-group">
                             <button type="button"   class="list-group-item list-group-item-active" (click)='schedule(4, "HVAC","Coolers Repair")'>Coolers Repair</button>
                             <button type="button"   class="list-group-item list-group-item-active" (click)='schedule(4, "HVAC","AC Repair")'>AC Repair</button>
                             <button type="button"   class="list-group-item list-group-item-active" (click)='schedule(4, "HVAC","Coldroom Maintenance")'>Coldroom Maintenance</button>
                             <button type="button"   class="list-group-item list-group-item-active" (click)='schedule(4, "HVAC","Freezers")'>Freezers</button>
                          </div>
    
                        </div>
                      </div>
                  </div>
              </div>
    
    
          </li>
    
          <li class="main-content"> Equipment </li>
          <li class="main-content"> Downloads </li>
        </div>
        <span class="fill-middle"></span>
        <button mat-button [routerLink]="['/about']">About Us</button>
      </mat-toolbar>
</div>

<router-outlet></router-outlet>
</div>
