doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="/stylesheets/bulma.min.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src="/javascripts/jquery.js")
    script(src="/javascripts/popper.min.js")
    script(src="/javascripts/bootstrap.min.js")

    script(src="/javascripts/angular.min.js")
    script(src="/javascripts/angular.routing.js")
    script(src="/javascripts/scripts.js")
    script(src="/javascripts/javascript.js")

  body(ng-app="myApp")
    block content
