.flexbox {
    display: flex;
}

.rightPanel {
    flex: 1.5;
}

.leftPanel {
    flex: 2;
}

@media screen and (max-width: 480px) {
    .flexbox {
        display: block;
    }

    .leftPanel {
        text-align: center;
    }
}