<div class="jumbotron">
  <div class="flexbox">
    <div class="leftPanel">
      <h1 style="font-family: 'Segoe UI Light';">{{category}}</h1>
      <h3 style="font-family: 'Segoe UI Light';"><strong>{{sub}}</strong></h3>

      <p class="lead"> Thank you for choosing us to do your <strong>{{name}}</strong> for you.</p>
      <p class="lead"> Please book an appointment for out experts to come to you at your own convinient time to make you a quotation and view the job.</p>
    </div>

    <div class="rightPanel">
      <div class="card">
        <div class="card-body">

          Schedule a time that is convinient for you

          <br>

          <div class="input-group">
            <span class="input-group-addon" id="from">From:</span>
            <input type="datetime-local" name="from" id="from" class="form-control" [(ngModel)]="from" required>
          </div>
          <p class="text-danger">{{fromerr}}</p>

          <br>

          <div class="input-group">
            <span class="input-group-addon" id="to">To:</span>
            <input type="datetime-local" class="form-control" name="to" id="to" [(ngModel)]="to" required>
          </div>
          <span class="text-danger">{{toerr}}</span>

          <br>
          <span class="label label-default">County</span>
          <mat-select [placeholder]="County" [(ngModel)]="select">
            <mat-option *ngFor="let county of counties" [value]="county">
              {{county}}
            </mat-option>
          </mat-select>
          <span class="text-danger">{{selerr}}</span>

          <br>
          <br>

          <input type="text" name="fullname" id="fullname" class="form-control" placeholder="Full Names" [(ngModel)]="fullname" required>
          <span class="text-danger">{{fullerr}}</span>
          <br>

          <input type="text" name="town" id="town" class="form-control" placeholder="Town" [(ngModel)]="town" required>
          <span class="text-danger">{{twnerr}}</span>
          <br>

          <input type="text" name="street" id="street" class="form-control" [(ngModel)]="street" placeholder="Street Address" required>
          <span class="text-danger">{{sterr}}</span>
          <br>

          <input type="number" name="phone" id="phone" class="form-control" [(ngModel)]="phone" placeholder="Phone" required>
          <span class="text-danger">{{pherr}}</span>
          <br>

          <div class="text-center">
            <button mat-button full color="primary" (click)="scheduleAppointment()"> Schedule Appointment</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
