body {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: 30% 70%;
  height: 100%;
}

a {
  color: #00B7FF;
  text-decoration: none !important;
}

a:active, a:visited, a:hover {
  text-decoration: none !important;
}

.space {
  flex: 1 1 auto;
}

.flexing {
  display: none;
  /*display: flex;*/
}

.card {
  padding: 2em 1.5em;
}

.active-panel {
  display: block;
}

.flexbox {
  display: flex;
}

.sharp {
  border-radius: 0;
  display: grid;
  grid-template-columns: 40% 60%;
}

.left {
  flex: 2;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1.5em 2em;
  height: 520px;
}

.right {
  flex: 1;
  padding: 1em 2em;
}

.add {
  width: 100px;
}

.padding {
  padding: 1.5em 2em;
}
/* Change browser default behaviour*/
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: #333 !important;
  color: white !important;
}

input:focus {
  outline-color: transparent !important;
}

.matinput {
  border: none;
  margin: 5px;
  background-color: transparent;
  border-bottom: 3px solid gray;
}

.matinput:active, .matinput:focus, {
  background-color: transparent;
  outline: none;
  outline-style: none;
  outline-color: transparent;
  outline-width: 0px;
}

/* Action Button Styles */

tbody {
  cursor: pointer;
}

.bttn {
  padding: .3em 2em;
  background: #333;
  border-radius: 0;
  margin: -1em 0;
  border: none;
  color: white;
  font-family: 'Segoe UI Light';
  transition: .05s all ease-in;
}

.bttn:active, .bttn:focus {
  outline: none !important;
  outline-color: transparent !important;
}

.bttn:active {
  background: white;
  color: black;
}

.bttn-teal {
  background: teal;
}

/* Navigation Buttons */

.bttn-dull {
  opacity: .5;
  padding: .7em 2em;
}

.bttn-dull:hover {
  background: white;
  color: #000 !important;
}

.nav-active {
  opacity: 1 !important;
}